body {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

#resultTable {
    width: 100%;
}

.TimeStamp_col {
    width: 20% !important;
}

.Payload_col {
    width: 80% !important;
}